.outer-div {
    position: absolute;
    margin-top: 2%;
    margin-left: 25%;
    width: 50%;
    height: 85%;
    opacity: 1;
}

.main {
    position: absolute;
    margin-top: 10%;
    margin-left: 25%;
    width: 50%;
    height: 75%;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 10px #00000029;
    border: 1px solid #F7F7F7;
    border-radius: 30px;
    opacity: 1;
}

.logo {
    position: absolute;
    margin-top: 0%;
    margin-left: 45%;
    width: 32%;
    height: 70%;
    background: transparent url('../../assets/logo.png') 0% 0% no-repeat padding-box;
    box-shadow: 20px 0px 25px #00000029;
    opacity: 1;
}

.connect-four {
    position: absolute;
    font-size: 160%;
    margin-top: 4%;
    margin-left: 30%;
    width: 225px;
    height: 39px;
    text-align: left;
    font: SemiBold 28px/42px Poppins;
    letter-spacing: 0px;
    color: #3D4276;
    text-transform: uppercase;
    opacity: 1;
}

.description {
    position: absolute;
    margin-top: 7%;
    margin-left: 30%;
    width: 202px;
    height: 52px;
    text-align: left;
    font: Regular 18px/27px Poppins;
    letter-spacing: 0px;
    color: #949494;
    opacity: 1;
}

.play {
    position: absolute;
    margin-top: 3%;
    margin-left: 10%;
    width: 15%;
    height: 22%;
    background: #FF7243 0% 0% no-repeat padding-box;
    box-shadow: 10px 10px 50px #FF724373;
    border-radius: 20px;
    opacity: 1;
}

.play-text {
    position: absolute;
    margin-top: 72%;
    margin-left: 30%;
    width: 65px;
    height: 31px;
    text-align: left;
    font: Medium 22px/33px Poppins;
    letter-spacing: 4.4px;
    color: #424242;
    opacity: 1;
}

.custom-game-button {
    position: absolute;
    border: none;
    margin-top: 48%;
    margin-left: 5%;
    width: 40%;
    height: 14%;
    background: #4BABFF 0% 0% no-repeat padding-box;
    border-radius: 20px;
    opacity: 1;
}

.button-text {
    position: relative;
    font-size: 165%;
    margin-top: -35px;
    margin-left: 105px;
    width: 176px;
    height: 33px;
    color: var(--unnamed-color-ffffff);
    text-align: left;
    font: Medium 24px/35px Poppins;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.custom-game-image {
    position: relative;
    margin-left: 27px;
    width: 46px;
    height: 48px;
    background: transparent url('../../assets/custom.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.two-button {
    position: absolute;
    border: none;
    margin-top: 48%;
    margin-left: 54%;
    width: 40%;
    height: 14%;;
    background: #4B7BFF 0% 0% no-repeat padding-box;
    border-radius: 20px;
    opacity: 1;
}

.two-image {
    position: relative;
    margin-left: 27px;
    width: 60px;
    height: 48px;
    background: transparent url('../../assets/two.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.online-button {
    position: absolute;
    border: none;
    margin-left: 5%;
    margin-top: 60%;
    width: 40%;
    height: 14%;
    background: #4B4BFF 0% 0% no-repeat padding-box;
    border-radius: 20px;
    opacity: 1;
}

.online-image {
    position: relative;
    margin-left: 27px;
    width: 60px;
    height: 48px;
    background: transparent url('../../assets/online.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.training-button {
    position: absolute;
    border: none;
    margin-top: 60%;
    margin-left: 54%;
    width: 40%;
    height: 14%;
    background: #6E4BFF 0% 0% no-repeat padding-box;
    border-radius: 20px;
    opacity: 1;
}

.training-image {
    position: relative;
    margin-left: 27px;
    width: 60px;
    height: 48px;
    background: transparent url('../../assets/training.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}